@model IEnumerable<MySpace.Models.Artiste>

@{
    ViewBag.Title = "Gallerie des Artistes";
}

<h2>Gallerie des Artistes</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Helper.AvatarProfilLink(item)
        </td>
    </tr>
}

</table>
